
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    font-family: "arial black";
}

a {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
    text-decoration: none;
    color: black;
}
.qrcode{
	width:100px;
	height: 100px;
	position:fixed;
	right: 0;
	bottom:200px;
}
.qrcode img{
	height: 100%;
	width:100%;
}
.top{
	width: 100%;
	height: 80px;
	background-color: white;
	z-index: 100;
	position: fixed;
	opacity: 0.8;
}
.top ul{
	padding-left: 130px;
	height: 100%;
}
.top li{
	float:left;
	height:100%
}
.top img{
	width: 200px;
	height: 100%;
}
.top li a:hover{
	background-color: black;
	color: white;
}

----------轮播
.container{
	margin: 0 auto;
	width: 1360px;
}
.introduce {
	width: 1360px;
	height:338px;
	padding: 7px;
	border: 1px solid #ccc;
	margin: 0 auto;
	position: relative;
}

.albumBox {
	width: 1360px;
	height:338px;
	overflow: hidden;
	position: relative;
}

.albumBox li {
	width: 1360px;
	height:338px;
	/* overflow: hidden; */
	float: left;
}

.albumBox ul {
	position: absolute;
	left: 0;
	top: 0px;
	width: 6800px;
}

.albumBox ul img {
	/* padding: 0 10px; */
	width: 100%;
	height:338px;
	float: left;
}

.albumBox ul p {
	padding: 5px;
}

.introduce ol {
	position: absolute;
	right: 10px;
	bottom: 0;
	line-height: 20px;
	text-align: center;
}

.introduce ol li {
	float: left;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid #ccc;
	margin-left: 10px;
	cursor: pointer;
}

.introduce ol li.current {
	background: #DB192A;
}


----------轮播结束
.content img{
	width: 100%;
}
.star-show{
	width: 1200px;
	padding-left: 100px;
	margin:0 auto;
}
.sub-title{
	background-color: #eee;
	border-bottom: 1px solid brown;
	clear: both;
}
.star-show img{
	width: 100%;
}
.star-show dt,.star-show img{
	min-height: 375px;
}
.star-show dl{
	width: 250px;
	float: left;
	position: relative;
	margin: 20px;
}
.star-show dd{
	width: 100%;
	background-color: #CCCCCC;
	position: absolute;
	left:0;
	bottom: 0;
	opacity: 0.7;
}
.product-clothes{
	width: 1200px;
	margin: 0 auto;
	padding-left: 100px;
}
.product-clothes dl{
	position: relative;
	float: left;
	width: 250px;
	margin: 20px;
}
.product-clothes dt{
	height: 375px;
}
.product-clothes img{
	position: absolute;
	left: 0;
	top: 0;
	height: 375px;
}
.product-clothes .hot img{
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
}
.price{
	text-decoration: line-through;
}
.cur-price{
	color: red;
}
.product-clothes button{
	background-color: white;
	border:1px solid brown
	cursor:pointer;
}
.product-clothes dt img:hover{
	opacity: 0;
}
.footer{
	clear: both;
	background-color: red;
	height: 120px;
	line-height: 60px;
}
